demo-mx-message/src/main/resources/xsd/mx-message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"

           elementFormDefault="qualified">

    <xs:element name="Payment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Sender" type="xs:string"/>
                <xs:element name="Receiver" type="xs:string"/>
                <xs:element name="Amount" type="xs:decimal"/>
                <xs:element name="Currency" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

